body {
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-align: left;   
   line-height: 20px;
   padding: 50px;
   color: #FFFFFF;
   background: black ;/*url(http://static.allbackgrounds.com/bg/black-pattern.jpg) repeat bottom right; */
   width: 100%;
}
img {
    height:180px;
    text-align: left;
}

#navbar {
    width: 100%;
    height:180px;
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 10px;
    text-align: left;
}

#foot{
    width: 100%;
    height:180px;
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

hr { 
    color: white;
    width: 100%;
}

h1 {
    font-family: Helvetica, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 3px grey, 0 0 5px grey;
    width: 100%;
    line-height: 40px;
}

h2 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
    color: whitesmoke;
    width: 100%;
    line-height: 40px;
}

table {
   width: 90%;
   padding: 10px;
   background-color: #5a5053;
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
   font-style: normal;
   border-collapse: collapse;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

tr:hover {
    background-color: #b80000;
}

tr:nth-child(even) 
{
    background-color: #6E6568;
}
tr:nth-child(even):hover 
{
    background-color: #ff0000;
}

th {
    font-weight: bold;
    font-size: 22px;
    background-color: #FF0000;
    padding: 10px;
    color: whitesmoke;
    height: 20px;
    text-align: center;
    vertical-align: central;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px black;
}

td {
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    vertical-align: central;
}

a {
    color: #FF0000;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: white;
    font-style: italic;
    background-color: #B80000;
}

a:visited { 
    font-weight: bold; 
    text-decoration: none; 
}

.popupBox {
  position: absolute;
  top: 170px;
  left: 140px;
}

.popupCell {
   background-color: #fffafa;
}

.popupCell:hover {
  font-style: italic;
  background-color: #B80000;
}

.popupItem {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}
input[type=text] {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 16px;
    border: none;
    color: black;
    width: 650px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #FF0000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:white;
    padding: 10px 20px;
    text-align:center;
    display:inline-block;
    cursor:pointer;
    text-shadow: 1px 1px black;
    border: none;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus,
input[type=button]:active, input[type=submit]:active, input[type=reset]:active{
    font-style: italic;
    text-shadow: 0 0 3px white, 0 0 5px white;
    box-shadow:  0 0 1px white, 0 0 5px white;
}

button {
    background-color: #FF0000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:white;
    padding: 10px 20px;
    text-align:center;
    display:inline-block;
    cursor:pointer;
    text-shadow: 1px 1px black;
    border: none;
}



button:hover, button:focus, button:active {
    font-style: italic;
    text-shadow: 0 0 3px white, 0 0 5px white;
    box-shadow:  0 0 1px white, 0 0 5px white;
}